.mat-grid-list {
    width: 100vw;
}

.pagination {
    display: flex;
    width: 100%;
    /* background: green; */
    justify-content: space-around;
    /* align-items: center; */
}

.pagination p {
    line-height: 70px;
    font-size: 20px;
}

mat-icon {
    font-size: 70px;
    height: 100%;
    cursor: pointer;
}

.fadeIn {
    animation: animacion .5s ease-in-out;
}

.mat-spinner {
    margin: 20px 45vw;
}

@keyframes animacion {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}